.main-footer {
    color: white;
    background-color: #7a6063;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: url('../../assets/footer/b1/2375.jpg');
}